body {
    background-color: #fff;
}

.col {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: 8px 25%;
    padding: 12px 10%;
}

.field {
    margin-bottom: 20px;
    padding: 20px;
}

.home {
	display: flex;
	flex-direction: column;
	margin: 24px;
	align-content: center;
}